1.Creating variable

In [12]:
a="My name is Abc"
b=[1,3,4,6,7,9]
c=14.67
d=(4,8,6,5)

In [13]:
print(a)
print(b)
print(c)
print(d)

My name is Abc
[1, 3, 4, 6, 7, 9]
14.67
(4, 8, 6, 5)

In [14]:
var1 = " "
var2 = '[ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [5]:
type(var1)

str

In [6]:
type(var2)

str

In [7]:
type(var3)

list

In [8]:
type(var4)

int

In [11]:
# 3.explain the operator
a=2
b=2
c=a/b
d=a%b
e=a//b
f=a**b
print(c)
print(d)
print(e)
print(f)
#.../ opreator give the float value output
#...% opreator give the reminder of values
#...// opreator give the int value output
#...** operator is use for exponential

1.0
0
1
4

In [1]:
# 4.create list 
a=[3,54,43,25,64,52,"ads",46,72,44]
for i in range(len(a)):
    print(a[i])

3
54
43
25
64
52
ads
46
72
44

In [7]:
# 5.using loop verify that a is divisible by b
a=100
b=5
count=0
while a%b==0:
    a=a//b
    count+=1
print(count)

2

In [11]:
# 6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for num in l:
    if (num%3==0):
        print(num,"Divisible by 3")
    else:
        print(num,"Num not divisible by 3")

1 Num not divisible by 3
2 Num not divisible by 3
3 Divisible by 3
4 Num not divisible by 3
5 Num not divisible by 3
6 Divisible by 3
7 Num not divisible by 3
8 Num not divisible by 3
9 Divisible by 3
10 Num not divisible by 3
11 Num not divisible by 3
12 Divisible by 3
13 Num not divisible by 3
14 Num not divisible by 3
15 Divisible by 3
16 Num not divisible by 3
17 Num not divisible by 3
18 Divisible by 3
19 Num not divisible by 3
20 Num not divisible by 3
21 Divisible by 3
22 Num not divisible by 3
23 Num not divisible by 3
24 Divisible by 3
25 Num not divisible by 3

In [ ]:
# 7.what will be understood that mutable and unmutable data type and example of both showing the property 
'''Mutable: Mutable means it can be changeable.List is a mutable data type in python 
Unmutable: Unmutable means it does not change once will create it does not change. Tuple is a unmuttable data type in python '''