In [2]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''the organize collection of structure information,or data  typically stored electronically in a computer
system. 
sql: structure query language where the data is store in structure or table form 
nosql: the data is not store in structure form ex:mongo db'''

'the organize collection of structure information,or data  typically stored electronically in a computer\nsystem. \nsql: structure query language where the data is store in structure or table form \nnosql: the data is not store in structure form ex:mongo db'

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''DDl means data defination language is used for describing data and its relationships in a database.
    create is used to  create a database 
    ex=CREATE TABLE Students (
  StudentID INT PRIMARY KEY,
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  Age INT
);
drop is used to delete the table and database 
ex=DROP TABLE Students;
alter is used to modify the table 
ex=ALTER TABLE Students ADD Email VARCHAR(100);
truncate is used to delete the data without removing these structure 
ex=TRUNCATE TABLE Students;

'''

'DDl means data defination language is used for describing data and its relationships in a database.\n    create is used to  create a database \n    ex=CREATE TABLE Students (\n  StudentID INT PRIMARY KEY,\n  FirstName VARCHAR(50),\n  LastName VARCHAR(50),\n  Age INT\n);\ndrop is used to delete the table and database \nex=DROP TABLE Students;\nalter is used to modify the table \nex=ALTER TABLE Students ADD Email VARCHAR(100);\ntruncate is used to delete the data without removing these structure \nex=TRUNCATE TABLE Students;\n\n'

In [3]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''DML means data manipulation language it manipulate the data storage 
insert= used to insert the data 
ex=INSERT INTO Students (StudentID, FirstName, LastName, Age) 
VALUES (1, 'John', 'Doe', 20);
update used to update the data 
ex=UPDATE Students 
SET Age = 21 
WHERE StudentID = 1;
delete used to delete the data 
ex=DELETE FROM Students 
WHERE StudentID = 1;
'''

"DML means data manipulation language it manipulate the data storage \ninsert= used to insert the data \nex=INSERT INTO Students (StudentID, FirstName, LastName, Age) \nVALUES (1, 'John', 'Doe', 20);\nupdate used to update the data \nex=UPDATE Students \nSET Age = 21 \nWHERE StudentID = 1;\ndelete used to delete the data \nex=DELETE FROM Students \nWHERE StudentID = 1;\n"

In [1]:
# Q4. What is DQL? Explain SELECT with an example.
'''DQL stands for Data Query Language. The primary command in DQL is SELECT.

SELECT: This command is used to fetch data from a database table. The data returned is stored in a result 
table called the result-set.
exa:SELECT FirstName, LastName 
FROM Students;
'''

'DQL stands for Data Query Language. The primary command in DQL is SELECT.\n\nSELECT: This command is used to fetch data from a database table. The data returned is stored in a result \ntable called the result-set.\nexa:SELECT FirstName, LastName \nFROM Students;\n'

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
'''Primary Key:A primary key is a column (or set of columns )in a table of a relational database that 
uniquely identifies each row of the table. In other words, there are no two rows in a table with the same 
primary key value. The primary key plays a crucial role in ensuring the integrity and consistency of the
data in the database.  

Foreign Key:A foreign key is a column (or set of columns) in one table that references the primary key 
column in another table. It establishes a link or relationship between the two tables, ensuring referential 
integrity'''

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''cursor() method: This method creates a new cursor object using the connection. The cursor object is 
then used to execute SQL queries and fetch results
execute() method: This method is used with the cursor object to execute SQL statements.

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)'''

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
'''1.From :The data source, such as tables and views, is identified first. Joins are also specified in this
clause, so tables are combined at this stage.
2.where : Filtering occurs after identifying the tables in the FROM clause. Rows that don't satisfy the
WHEREcondition are discarded.
3.GROUP BY: The remaining rows after the WHERE filtering are then grouped based on columns specified.
4.HAVING: Once the rows are grouped, this clause filters the grouped data based on a condition. Itâ€™s similar
to WHERE, but it operates on grouped records.
5.SELECT: Only after all the filtering, grouping, and joining are done are the specific columns listed in 
the SELECT clause fetched. Calculated columns and aggregate functions (like COUNT, AVG, SUM, etc.) are 
processed at this stage.
6.DISTINCT: If specified, duplicate rows are eliminated at this stage.
7.ORDER BY: The final result set is then sorted based on columns specified.