In [1]:
# Q1. List any five functions of the pandas library with execution.

''' 1.pd.Series() function is their is use to convert the data  into series 
2.pd.DataFrame() function is use to convert the data into DataFrame 
3.pd.concat() function used to concanate with 2 dataframe
4.pd.read_csv()function is used to read the csv file 
5.pd.cut()'''

' 1.pd.Series() function is their is use to convert the data  into series \n2.pd.DataFrame() function is use to convert the data into DataFrame \n3.pd.concat() function used to concanate with 2 dataframe\n4.pd.read_csv()function is used to read the csv file \n5.pd.cut()'

In [10]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd
data={'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
df = pd.DataFrame(data,index=[0,2,4])
df

   A  B  C
0  1  4  7
2  2  5  8
4  3  6  9

In [8]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of
# the first three values in the 'Values' column. The function should print the sum to the console.
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.

In [26]:
df1=pd.DataFrame({"values":[10,20,30,40,50]})

In [27]:
 df1['values'].iloc[0:3].sum()

60

In [11]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
#'Word_Count' that contains the number of words in each row of the 'Text' column.
data={'Text':["if the Values column of df contains the values  your function should"]}

In [12]:
df2=pd.DataFrame(data)
df2

                                                Text
0  if the Values column of df contains the values...

In [14]:
df2['Word_Count']=df2['Text'].apply(lambda x:len(x.split()))

In [15]:
df2

                                                Text  Word_Count
0  if the Values column of df contains the values...          12

In [45]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?
'''DataFrame.size():
It is equivalent to the total number of cells in the DataFrame'''
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)

6

In [46]:
'''DataFrame.shape():
It return tuple.The tuple contains two values: (number of rows, number of columns)'''
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)

(3, 2)

In [47]:
# Q6. Which function of pandas do we use to read an excel file?
'''pd.read_excel() function used to read excel file'''

'pd.read_excel() function used to read excel file'

In [7]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.

import pandas as pd 
def extract_name(df):
    df['Username']=df['Email'].str.split('@').str[0]
    return df
data={'Email':['sakshi@datascience.com','vidya@wentech.com','riya@cloud.com']}
df=pd.DataFrame(data)
extract_name(df)

                    Email Username
0  sakshi@datascience.com   sakshi
1       vidya@wentech.com    vidya
2          riya@cloud.com     riya

In [58]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is 
# greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
data={'A':[1,18,4,66],'B':[5,7,4,3],'C':[4,6,7,8]}
df3=pd.DataFrame(data)
def select_row(df):
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

In [59]:
select_row(df3)

    A  B  C
1  18  7  6
3  66  3  8

In [71]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values
# in the 'Values' column.
data={'Values':[3,5,6,7,8,9,4,44,37,66]}
df4=pd.DataFrame(data)
def calmean(df):
    df=df.mean()
    return df
def calmedian(df):
    df=df.median()
    return df
def calstd(df):
    df=df.std()
    return df
calmean(df4)

Values    18.9
dtype: float64

In [72]:
calmedian(df4)

Values    7.5
dtype: float64

In [73]:
calstd(df4)

Values    22.032552
dtype: float64

In [77]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that
# contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window
# of size 7 and should include the current day.

data={'Sales':[10,20,30,40,50,60,70],
      'Data':['2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07','2023-01-08','2023-01-09']}
df5 = pd.DataFrame(data)
def compute_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df     

                                             
compute_moving_average(df5)

   Sales        Data  MovingAverage
0     10  2023-01-03           10.0
1     20  2023-01-04           15.0
2     30  2023-01-05           20.0
3     40  2023-01-06           25.0
4     50  2023-01-07           30.0
5     60  2023-01-08           35.0
6     70  2023-01-09           40.0

In [84]:
'''
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
'''

"\nQ11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new\ncolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.\nMonday, Tuesday) corresponding to each date in the 'Date' column.\n"

In [85]:
data={'Date':['2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07','2023-01-08','2023-01-09']}
df=pd.DataFrame(data)

In [86]:
df['Weekday']=['Monday','Tuesday','Wednesday','Thuesday','Friday','Saturday','Sunday']

In [87]:
df

         Date    Weekday
0  2023-01-03     Monday
1  2023-01-04    Tuesday
2  2023-01-05  Wednesday
3  2023-01-06   Thuesday
4  2023-01-07     Friday
5  2023-01-08   Saturday
6  2023-01-09     Sunday

In [96]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
data={'Date':['2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07','2023-01-08','2023-01-09']}
df=pd.DataFrame(data)
df7=df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-3')]
print(df7)

         Date
0  2023-01-03
1  2023-01-04
2  2023-01-05
3  2023-01-06
4  2023-01-07
5  2023-01-08
6  2023-01-09

In [ ]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
'''The basic is use to import the pandas libray we first import these after these we perform the read _csv('file')or use many function that support 
pandas '''